.header{
   background: url("header-img.jpg");
   background-repeat: no-repeat;
   background-size:cover;
   background-position:center;
    width:100%;
    padding:400px;
    display: block;

   margin-bottom: 2rem;
    @media @phone {
       
       background:none;
        padding: 15px;
        
      }
}
.mission-statement{
    width:@width;
    position: @stay;
    margin-left:-25rem;
    margin-top:16rem;
    background-color: blue;
    opacity:0.9;
    margin-bottom:2rem;
    color:white;
    padding:2rem;
    font-size:20px;
    display:@flexin;
    @media @phone {
        background:none;
        position: relative;
        display: block;
      margin-top:-20rem;
      margin-left:-5rem;
       
      }

}
.mission-p{
    margin-left:3rem;
    width:100%;
    
    
    @media @phone{
        text-align:center;
        margin-top:-15rem;
        display:block;
    }
}
.mission{
    width:@width;
    @media @phone {
       
     display:none;
         
         
       }
}
.overlay{
    @media @phone {
       display:none;
        width:100%;
        
        
      }
}


@media @phone {
    width:100%;
  }


.middle{
padding-bottom: 5rem;

@media @phone{
    margin-top:-33rem;

}
}
.kidsfly{
    text-align: @center;
    @media @phone {
        width:100%;
        margin-top:5rem;
    }
}

.middle-content{

    display:@flexin;
    @media @phone{
        display:block;
        margin-top:5rem;
    
    }

}
.md-p{
    margin-left:5rem;
    @media @phone{
        margin-top:0rem;
        margin-left:8rem;
       
    }
}
.md-img{
    
    @media @phone{
        width:100%;
    }
}


.features-title{
    text-align: @center;
}
.features{
    display:@flexin;
    
    margin-left: -13rem;
    @media @phone{
        display:block;
        width:100%;
    }
}
.feature-card{
margin-left:15rem;
background-color: white;
padding:1rem;
@media @phone {
    margin-left:13rem;
width:100%;
margin-bottom:1rem;
display:block;
}
}
button{
    margin-left:35rem;
    padding-top:-2rem;
    padding-bottom:-2rem;
    padding-left: 1rem;
    padding-right:1rem;
    border-radius: 20px;
    background-color: lightgreen;
    opacity: 3;
    margin-top:-30rem;
    

    @media @phone{
    margin-left:6rem;
        margin-top:-3rem;
        margin-bottom:0rem;
        width:40%;
    }
}

.features-section{
    padding:3rem;
background-color:#ebecf6;
padding-bottom:5rem;

}